body {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background: url("../img/Blackboard_Chalkboard_Wipemarks_UV_CM_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 5%;
}

h1 {
	color: lightcoral;
}

.quotes {
	background-color: rgba(255,255,255,0.6);
	padding: 5%;
	width: 50%;
	margin: auto;
	overflow: scroll;
}

.quotes h1 {
	color: black;
}

.quotes blockquote {
	text-align: right;
}

button {
	display: inline-block;
	height: 20%;
	width: 30%;
	margin: auto;
	background: rgba(0,0,0,0);
	border: solid 1px lightcoral;
	transition-duration: 2s;
}

button h1 {
	color: lightcoral;
	transition-duration: 2s;
}

button:hover {
	background-color: rgba(0,0,0,0.5);
}

.flat-btn {
	margin: auto;
	width: 60%;
}
