<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Trumporate</title>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/Skeleton-2.0.4/css/normalize.css">
		<link rel="stylesheet" href="../static/css/Skeleton-2.0.4/css/skeleton.css">
		<link rel="stylesheet" href="../static/css/style.css" media="screen">
	</head>
	<body>
		<br>
		<div class="container">
			<div class="row">
				<div class="two column">
					<img src="../static/img/Donald Trump_100.png"><img src="../static/img/Logomakr_3mlfN4.png">
				</div>
			</div>
			<div class="row">
				<div class="five columns">
					<div class="gravatar">Photu</div>
				</div>
				<div class="seven columns">
					<div class="bubble">Unintelligible
						<div class="arrow"></div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>
