<!DOCTYPE html>
<html lang="en">
	<head>
		<title>trumporate</title>
		<meta name="Author" content="Rituraj Das">
		<meta name="application-name" content="width=device-width,initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	
	<body>
		<div class="quotes">
			<h1>Enter random rants from U.S.A. President-elect Donald Trump!!!</h1>
			<p>~ Donald Trump</p>
			<br>
			<a class="button" href="#social_share">SHARE</a>
			<a class="button" href="#grab_more_quotes">NEW!</a>
		</div>
	</body>
</html>
