body {
	text-align: center;
	margin: 0;
	padding: 5%;
	background-color: rgb(200, 242, 255);
}

p {
    color: #c8f2ff;
}

#header {
	font-size: 5vmax;
	font-family: 'Pacifico', cursive;
	font-weight: 300;
	margin: auto;
	color: #2c6182;
}

.quotes {
	margin: 10% auto;
	width: 50%;
}

.quotes h1 {
	font-family: 'Domine', serif;
	font-size: 3vmin;
	color: rgb(80,80,80);
	text-align: center;
}

.flat-btn button,.flat-btn a {
	text-decoration: none;
	border: none;
	background-color: transparent;
	display: inline-block;
	padding: 2%;
	margin: 0 auto;
	color: #2c6182;
	text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
}

.flat-btn {
	width: 100%;
}

.footer {
	font-family: monospace;
	text-align: center;
	color: white;
    background: rgb(44, 97, 130);
	margin-top: 10%;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer p {
	font-size: 1.6vmin;
}

.footer > p > a {
	color: #c8f2ff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #c8f2ff;
}

#github-corner-fork {
	fill: #2c6182;
	color: #c8f2ff;
}