body {
	text-align: center;
	margin: 0;
	padding: 5%;
	background: grey;
}

p {
	color: white;
	text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
}

#header {
	font-size: 5vmax;
	font-family: 'Pacifico', cursive;
	margin: auto;
}

.quotes {
	margin: 0 auto;
	width: 50%;
}

.quotes h1 {
	font-family: 'Domine', serif;
	font-size: 3vmin;
	color: black;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

.flat-btn a {
	display: inline-block;
	padding: 1%;
	margin: 0 auto;
	color: white;
	text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
}

.flat-btn {
	width: 100%;
}

.footer {
	font-family: monospace;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.1);
	margin-top: 10%;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer p {
	font-size: 1.6vmin;
}
