body {
	font-family: 'Playfair Display', serif;
	text-align: left;
	margin: 0;
	padding: 5%;
	background: grey;
}

p {
	color: white;
	font-size: 5vmax;
	text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
}

.quotes {
	width: 80%;
}

.quotes h1 {
	font-size: 3vmin;
	color: black;
	text-align: justify;
}

a {
	color: white;
	text-decoration: none;
}

.flat-btn a {
	display: inline-block;
	padding-right: 5%;
	height: auto;
	width: auto;
	margin: auto;
	color: white;
	text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
}

.flat-btn {
	width: 80%;
}

.footer {
	font-family: monospace;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.1);
	margin-top: 10%;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer p {
	font-size: 1.6vmin;
}
